/*                                     Author: Ing Carlos Allen                                   */
/*                                   https://github.com/CarlosAllen93                            */
/*                                 contact : allencarlosDev@gmail.com                           */

/* color variables */
:root {
    --background-header: #080808;
    --bar: rgba(150, 150, 150, 0.4);
    --btn-contact: #ff4655;
    --background-body: #ece8e1;
    --background-video: #0f1923;
    --font: 'Atkinson Hyperlegible', sans-serif;
    --font2:'Karantina', cursive;
    --white: #fff;

    /* z-index - variables */
    --z-index10: 10;
    --z-index20: 20;
    --z-index30: 30;
    --z-index40: 40;
    --z-index50: 50;
    --z-index60: 60;
    --z-index70: 70;
    --z-index80: 80;
    --z-index90: 90;
}
body {
    background-color: var(--background-body);
}
/* container */
.container {
    display: grid;
    grid-template: 1fr, 500px / repeat(12, 1fr);
}

.bar__container {
    z-index: var(--z-index70);
    height: 100%;
    margin-left: 100px;
    grid-column: 1/2;
    grid-row: 1/3;
    border-left: 2px solid var(--bar);
}

/* header section */
.header {
    display: grid;
    position: fixed;
    z-index: var(--z-index90);
    width: 100%;
    grid-template-columns: repeat(12 ,1fr);
    font-family: var(--font);
    font-size: small;
    align-items: center;
    background-color:var(--background-header);
}

.header-logo {
    position: relative;
    width: 80px;
    height: 80px;
    grid-column: 2/3;
}

.header-logo__img {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin:auto;
    width: 50px;
    height: 50px;
}

.header-logo__img--2 {
    opacity: 0;
    transition: 0.5s;
}

.header-logo__img--2:hover {
    opacity: 1;
}

.bar {
    grid-column: 3/4;
    height: 30px;
    border-left: 2px solid var(--bar);
}

.menu {
    grid-column: 4/10;
}

.menu-header {
    display: flex;
    justify-content: space-around;
}

.menu-header__item {
    position: relative;
    width: 100px;
    text-align: center;
}

.menu-header__item::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--btn-contact);
    border-radius: 5px;
    transform: scale(0, 1);
}

.menu-header__item:hover::after {
    transform: scale(1, 1);
}

.header-contact {
    grid-column: 11/12;
}

.header-contact__btn {
    display: block;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    background-color: var(--btn-contact);
}

.header-contact__icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Main */
.main {
    grid-column: 1/13;
    grid-row: 1/2;
}
/* Home */
.home {
    display: grid;
    height: 630px;
    grid-template: 80px repeat(11, 1fr) / repeat(12, 1fr);
    background-color: var(--background-video);
}

.home__video {
    z-index: var(--z-index10);
    height: 550px;
    grid-column: 1/13;
    grid-row: 2/13;
}

.home__logo {
    display: block;
    z-index: var(--z-index20);
    min-width: 600px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 4/10;
    grid-row: 5/7;
}

.home__btn {
    display: block;
    z-index: var(--z-index20);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 80px;
    grid-column: 5/9;
    grid-row: 8/9;
    text-align: center;
    background-color: var(--btn-contact);
    outline: 1px solid var(--bar);
    outline-offset: 5px;
}

.bar__home {
    z-index: var(--z-index80);
    height: 100%;
    grid-column: 4/5;
    grid-row: 1/13;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid var(--bar);
}

.bar__home--right {
    grid-column: 11/12;
    grid-row: 1/13;
}

/* Patch Notes */
.patchnotes {
    display: grid;
    height: 720px;
    margin-top: 100px;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.patchnotes__background {
    z-index: var(--z-index10);
    height: 500px;
    grid-column: 1/13;
    grid-row: 3/12;
}

.patchnotes__img {
    z-index: var(--z-index80);
    height: 100%;
    width: 90%;
    margin: 10px;
    grid-column: 1/5;
    grid-row: 2/12;
    object-fit: contain;
}

.patchnotes-update {
    z-index: var(--z-index20);
    padding: 30px 20px;
    grid-column: 5/12;
    grid-row: 3/12;
}

.patchnotes-update__h2 {
    margin-bottom: 10px;
    font-family: var(--font2);
    font-size: 5em;
}

.patchnotes-update__h3 {
    margin-bottom: 20px;
    font-family: var(--font2);
    font-size: 2em;
}

.patchnotes-update__p {
    line-height: 25px;
}

/* Highlights */

.highlights {
    display: grid;
    margin-top: -150px;
    height: 700px;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    overflow: hidden;
}

.highlights__pigeons {
    z-index: var(--z-index20);
    height: 700px;
    max-width: 1000PX;
    grid-column: 1/13;
    grid-row: 1/13;
    place-self: end;
}

.highlights__left {
    z-index: var(--z-index40);
    height: 700px;
    width: 1250px;
    grid-column: 1/12;
    grid-row: 1/13;
}

.highlights__right {
    z-index: var(--z-index50);
    max-width: 1000PX;
    height: 700px;
    grid-column: 1/13;
    grid-row: 1/13;
    place-self: end;
}
.highlights__title {
    z-index: var(--z-index60);
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/6;
    grid-row: 4/6;
    font-family: var(--font2);
    font-size: 5em;
    color: var(--background-video);
}

.highlights__video {
    z-index: var(--z-index60);
    grid-column: 2/6;
    grid-row: 6/9;
    border: 6px outset var(--btn-contact);
    object-fit: fill;
    outline: 1px solid var(--bar);
    outline-offset: 5px;
}

/* Footer */
.footer {
    display: grid;
    z-index: var(--z-index80);
    height: 600px;
    grid-column: 1/13;
    grid-row: 2/3;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    background: var(--background-header);
    color: var(--bar);

}

.footer__h3 {
    margin-left: auto;
    margin-right: auto;
    grid-column: 5/9;
    grid-row: 2/3;
    align-self: end;
    color: var(--bar);
}

.footer__img {
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 6/8;
    grid-row: 3/5;
}

.footer__h4 {
    grid-column: 5/9;
    grid-row: 5/6;
    margin-left: auto;
    margin-right: auto;
    color: var(--bar);
}

.footer-socials {
    display: flex;
    grid-column: 5/9;
    grid-row: 6/7;
    align-items: center;
    justify-content: center;
}

.footer-socials__li {
    margin: 0 15px;
    font-size: 2rem;
    transition: color 0.4s ease;
}
.footer-socials__li:hover {
    color: var(--white);
}


.footer-copyright {
    display: flex;
    margin: 15px;
    grid-column: 3/11;
    grid-row: 7/8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-copyright__p {
    color: var(--bar);
    margin-bottom: 5px;
}

.footer-copyright__h4 {
    margin-bottom: 5px;
    justify-self: end;
    color: var(--bar);
}

.esrb {
    display: flex;
    margin: 15px auto;
    padding: 15px;
    grid-column: 5/9;
    grid-row: 8/12;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vw;
}

.esrb-description {
    text-align: start;
}
.esrb__img {
    width: 100px;
    height: 200px;
    object-fit: contain;
}

.esrb-description__h4 {
    margin: 10px;
    color: var(--bar);
}

/* Animation */
.header-contact__btn:hover ,.home__btn:hover  {
    background-color: var(--background-video);
    transition: all 0.3s;
}

.fade_up {
    transition: all .8s;
}

.fade_left {
    transition: all 3s;
}

.transform_up {
    transform: translateY(20%);
}

.transform_left {
    transform: translateY(30%) translateX(10%);
}

.appear {
    transform:none;
}

/* responsive design */
@media screen and (max-width:1350px) {
    /* patch notes */
    .patchnotes-update__p {
        line-height: 20px;
        font-size: 1em;
    }

    /* highlights */
    .highlights__left {
        display: none;
    }
}

@media screen and (max-width: 950px) {

    /* header responsive */
    .menu-header {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 350px;
        top:80px;
        left: 100%;
        align-items: center;
        padding: 20px;
        background-color: var(--background-video);
        transition: left 0.3s;
    }

    .menu-header--visible {
        left: 0;
    }

    .header-contact__btn {
        display: none;
    }

    .header-contact__icon {
        display: block;
    }

    /* Home */
    .home__logo {
        min-width: 500px;
        max-width: 600px;
        grid-column: 2/12;
    }

    /* Patch notes */
    .patchnotes-update__h2 {
        font-size: 3.6em;
    }
    .patchnotes-update__h3 {
        margin-bottom: 15px;
        font-size: 1.8em;
    }

    .patchnotes-update__p {
        font-size: 0.8em;
    }

    /* Highlights */
    .highlights__title {
        grid-column: 3/11;
        grid-row: 3/5;
    }

    .highlights__video {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        grid-column: 3/11;
        grid-row: 6/9;
    }

}

@media screen and (max-width:650px) {

    /* Container */
    .bar__container {
        display: none;
    }

    /* Home */
    .home {
        height: 480px;
    }

    .home__video {
        height: 400px;
    }

    .home__logo {
        min-width: 200px;
        max-width: 400px;
        grid-column: 2/11;
    }

    .home__btn {
        grid-column: 2/11;
    }

    .bar__home {
        display: none;
    }

    /* Patch Notes */
    .patchnotes__img {
        display: none;
    }

    .patchnotes-update {
        grid-column: 2/12;
        padding: 20px 10px;
    }

    /* Footer */
    .footer {
        height: 450px;
    }

    .footer__img {
        display: none;
    }

    .footer__h3 {
        grid-column: 2/12;
    }

    .footer__h4 {
        grid-row: 3/4;
    }

    .footer-socials {
        margin-left: auto;
        margin-right: auto;
        grid-column: 2/12;
        grid-row: 4/5;
    }

    .footer-copyright {
        grid-column: 2/12;
        grid-row: 5/6;
    }
    .esrb {
        grid-column: 4/10;
        grid-row: 6/12;
    }
}

@media screen and (max-width: 400px) {

    /* Patch Notes */
    .patchnotes {
        margin-top: 0;
    }

    .patchnotes-update__h2 {
        font-size: 2em;
    }

    .patchnotes-update__h3 {
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    .patchnotes-update__p {
        font-size: 0.7em;
    }

    /* highlights */

    .highlights {
        height: 500px;
    }

    .highlights__right {
        height: 500px;
    }

    .highlights__pigeons {
        display: none;
    }

    .highlights__title {
        font-size: 4em;
        grid-column: 2/11;
    }
}



